.sub-section-wrapper {
  display: flex;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}

.sub-section-wrapper-row {
  flex-direction: row;
}

.sub-section-title {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #505050;
}