.text-input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  flex: 1 1 20%;
}

.text-input-label {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #303030;
}

.text-input-container {
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-input {
  flex: 1;
  border-left: none;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}

.text-input:focus {
  outline-color: #b0b0b0;
}

.text-input-required {
  color: #f00;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}